{% extends "layouts/base.html" %}

{% load poll_extras %}

{% block title %}
    Barangay Admin - Process Document
{% endblock %}

{% block content %}
    <a href="{% url "appointment:remove_document_session" user_data.start_appointment|date_to_str %}">Back to
        appointments</a>
    <h1>Get Document</h1>

    {{ user_data }}

    <h2>Resident Profile</h2>
    <ul>
        <li>Name: {{ user_data.first_name }} {{ user_data.middle_name }} {{ user_data.last_name }}</li>
        <li>Account type: {{ user_data.account_type }}</li>
        <li>No. of documents: {{ user_data.document|count_list }}</li>
    </ul>

    <h2>Document</h2>
    <ul>
        {% for document in user_data.document %}
            {% if document.ready_issue %}
                <li>
                    <a href="{% url "appointment:document_data_edit" user_data.document_id document.slugify %}">{{ document.document_name }}</a>
                    <ul>
                        <li>
                            <button id="">View</button>
                        </li>
                        <li>
                            <a href="{% url "appointment:document_data_edit" user_data.document_id document.slugify %}">Edit</a>
                        </li>
                        <li>Status: Done</li>
                    </ul>
                </li>
            {% else %}
                <li>
                    <a href="{% url "appointment:document_data" user_data.document_id document.slugify %}">{{ document.document_name }}</a>
                    <ul>
                        <li><a href="{% url "appointment:document_data" user_data.document_id document.slugify %}">Status:
                            Not yet</a></li>
                    </ul>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% if issue_status %}
        <div>
            <a href="{% url "appointment:get_document_resched" user_data.document_id document_date %}">Schedule
                Appointment</a>
        </div>
        <div>
            <a href="{% url "appointment:completed" user_data.document_id %}">Completed</a>
        </div>
    {% endif %}
{% endblock %}
