{% extends "layouts/base_table.html" %}

{% load static %}

{% block title %}
    Barangay Admin - Display Appoinment Query
{% endblock %}

{% block stylesheets %}

    {{ block.super }}

    <!-- Jquery -->
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}

    {#    <link href="{% static "appointment/assets/css/user_issuing_list.css" %}" rel="stylesheet">#}
{% endblock %}

{#{% block back_button %}#}
{#    <div class="mb-1">#}
{#        <a href="{% url "services:index" %}"><--Go back to services</a>#}
{#    </div>#}
{#{% endblock %}#}

{% block page_title %}
    Appointment Queuing
{% endblock page_title %}

{% block page_subtitle %}
    {% if user_sess_data.role in 'admin, head_admin, secretary, worker ' %}
        List of appointments within the day.
    {% else %}
        List of your appointments
    {% endif %}
{% endblock page_subtitle %}

{% block content %}

{% endblock %}

{% block table_content %}
    <thead class="table-dark">
        <tr>
            <th data-field="document_id" data-sortable="true" class="border-0">DOCUMENT ID</th>
            <th data-field="start_appointment" data-sortable="true" class="border-0">START APPOINTMENT</th>
            <th data-field="end_appointment" data-sortable="true" class="border-0">END APPOINTMENT</th>
            <th data-field="status" data-sortable="true" class="border-0">STATUS</th>
            <th data-field="first_name" data-sortable="true">FIRST NAME</th>
            <th data-field="middle_name" data-sortable="true">MIDDLE NAME</th>
            <th data-field="last_name" data-sortable="true">LAST NAME</th>
            <th data-field="document" data-sortable="true">DOCUMENT</th>
            <th data-field="purpose" data-formatter="createdFormatter" data-sortable="true" class="border-0">PURPOSE</th>
            <th data-field="contact_number" data-sortable="true" class="border-0">CONTACT NUMBER</th>
            <th data-field="address" data-sortable="true" class="border-0">ADDRESS</th>
            <th data-field="created_on" data-sortable="true" class="border-0">CREATED ON</th>
        </tr>
    </thead>
    <tbody>
        {% for document in documents_data %}
            <tr>
                <td>{{ document.document_id }}</td>
                <td>{{ document.start_appointment }}</td>
                <td>{{ document.end_appointment }}</td>
                <td>{{ document.status }}</td>
                <td>{{ document.first_name }}</td>
                <td>{{ document.middle_name }}</td>
                <td>{{ document.last_name }}</td>
                <td>{{ document.document|unordered_list }}</td>
                <td>{{ document.appointment_purpose }}</td>
                <td>{{ document.contact_number }}</td>
                <td>{{ document.address }}</td>
                <td>{{ document.created_on }}</td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock table_content %}

{% block template %}
    <template id="profileTemplate">
        <div class="col-6 mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="container m-0 p-0">
                                <div class="row h-25">
                                    <div class="col-9">
                                        <h3 class="mb-0 text-truncated">%FIRSTNAME% %MIDDLENAME% %LASTNAME%</h3>
                                    </div>
                                    <div class="col-3 p-0 d-flex justify-content-end">
                                        <a class="btn mx-1 text-end"
                                            onclick="redirectToUrl('{% url "appointment:view_appointment" document_id=0 %}', '%DOCUMENT_id%')"
                                            data-toggle="tooltip" data-placement="top" title="View">
                                            <i class="fas fa-eye fa-1x"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="fw-extrabold mt-3">Document ID</div>
                                <p class="fs-6 text-info ">%DOCUMENT_id%</p>
                                <div class="fw-extrabold mt-3">Address</div>
                                <p class="fs-6 text-info ">%ADDRESS%</p>
                                <div class="fw-extrabold">Contact Number</div>
                                <p class="fs-6 text-info ">%CONTACT_NUMBER%</p>
                                <div class="fw-extrabold">Created On</div>
                                <p class="fs-6 text-info ">%CREATED_ON%</p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="fw-extrabold">Start Appointment</div>
                                    <p class="fs-6 text-info ">%START_APPOINTMENT%</p>
                                </div>
                                <div class="col">
                                    <div class="fw-extrabold">End Appointment</div>
                                    <p class="fs-6 text-info">%END_APPOINTMENT%</p>
                                </div>
                            </div>
                            <p>
                                <span class="fw-extrabold d-block">Purpose:</span>
                                %PURPOSE%
                            </p>
                            <div class="row">
                                <div class="col col-md-auto">
                                    <div class="fw-extrabold w-auto">Status</div>
                                    <div class="text-uppercase">
                                        <div class="text-info">%STATUS%</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="fw-extrabold text-nowrap">Document</div>
                                    <div class="text-uppercase">
                                        <div class="text-info">%DOCUMENT%</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="fw-extrabold text-nowrap">Document Type ID</div>
                                    <div class="text-uppercase">
                                        <div class="text-info">%DOCUMENT_TRUNC%</div>
                                    </div>
                                </div>
                            </div>
                            {% if user_sess_data.role in 'admin, head_admin, secretary, worker ' %}
                                <div class="col-12 col-lg-12 pt-5 d-flex justify-content-center">
                                    <a class="btn btn-outline-danger mx-1" id="btn-cancel"
                                        onclick="redirectToUrl('{% url "appointment:appointment_cancel" document_id=0 %}', '%DOCUMENT_id%')"
                                        data-toggle="tooltip" data-placement="top" title="Cancel">
                                        <i class="fas fa-calendar-times"></i>
                                        Cancel
                                    </a>
                                    <a class="btn btn-outline-primary mx-1"
                                        onclick="redirectToUrl('{% url "appointment:reschedule_appointment" appointment_id=0 %}', '%DOCUMENT_id%')"
                                        data-toggle="tooltip" data-placement="top" title="Reschedule">
                                        <i class="fas fa-calendar-alt"></i>
                                        Reschedule
                                    </a>
                                    <a class="btn btn-outline-info mx-1"
                                        onclick="redirectToUrl('{% url "appointment:appointment_complete" appointment_id=0 %}', '%DOCUMENT_id%')"
                                        data-toggle="tooltip" data-placement="top" title="Complete">
                                        <i class="fas fa-check"></i>
                                        Complete
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
{% endblock template %}

{% block scripts %}
    {{ block.super }}
    <script>
        function customViewFormatter(data) {
            const template = $('#profileTemplate').html();
            let view = '';
            $.each(data, function (i, row) {
                view += template.replace('%FIRSTNAME%', row.first_name)
                    .replace('%MIDDLENAME%', row.middle_name)
                    .replace('%LASTNAME%', row.last_name)
                    .replace('%ADDRESS%', row.address)
                    .replace('%CONTACT_NUMBER%', row.contact_number)
                    .replace('%CREATED_ON%', row.created_on)
                    .replace('%START_APPOINTMENT%', row.start_appointment)
                    .replace('%END_APPOINTMENT%', row.end_appointment)
                    .replace('%PURPOSE%', row.purpose)
                    .replace('%STATUS%', row.status)
                    .replace('%DOCUMENT%', row.document)
                    .replace('%DOCUMENT_TRUNC%', documentTrunc(row.document, row.document_id))
                    .replaceAll('%DOCUMENT_id%', row.document_id)
            })
            return `<div class="row mx-0">${view}</div>`
        }

        function documentTrunc(documentName, documentID) {
            console.log(documentName);
            if (documentName.toLowerCase() === "<li>barangay certificate</li>") {
                return `CRT-${documentID}`
            } else if (documentName.toLowerCase() == "<li>barangay clearance</li>") {
                return `CLR-${documentID}`
            } else if (documentName.toLowerCase() == "<li>barangay local employment</li>") {
                return `LCE-${documentID}`
            } else if (documentName.toLowerCase() == "<li>barangay verification</li>") {
                return `VER-${documentID}`
            } else if (documentName.toLowerCase() == "<li>certificate of indigency</li>") {
                return `COI-${documentID}`
            }
        }
    </script>

    <script type="text/javascript">
        function redirectToUrl(urlTemplateTag, arg) {
            window.location.href = urlTemplateTag.replace(/0/, arg?.toString());
        }
    </script>

    <script type="text/javascript">

    </script>
{% endblock %}
