<!DOCTYPE html>

{% extends "layouts/base.html" %}
{% load poll_extras %}

{% block title %}
    Barangay Admin - Details Appointment
{% endblock %}

{% block content %}
    <h1>Appointment Details</h1>

    <ul>
        <li>Status: {{ user_detail.status }}</li>
        <li>Name:</li>
        <ul>
            <li>First Name: {{ user_detail.first_name }}</li>
            <li>Middle Name: {{ user_detail.middle_name }}</li>
            <li>Last Name: {{ user_detail.last_name }}</li>
        </ul>
        <li>Account Type: {{ user_detail.account_type }}</li>
        <li>Contact Number: {{ user_detail.contact_no }}</li>
    </ul>

    <ul>
        <li>Start Date: {{ user_detail.start_appointment|firebase_timestamp_format:8 }}</li>
        <li>End Date: {{ user_detail.end_appointment|firebase_timestamp_format:8 }}</li>
        <li>
            Document Type:
            <ul>
                <li>{{ user_detail.document|join:", " }}</li>
            </ul>
        </li>
        <li>Total Amount: {{ amount }}</li>
        <li>Purpose: {{ user_detail.appointment_purpose }}</li>
    </ul>

    <ul>
        <li>Verification: {{ user_detail.appointment_image }}</li>
    </ul>

    <form action="{% url "appointment:id_verification" user_detail.document_id|base64_encode %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" name="submit" value="Search">
    </form>

    {% if user_verified %}
        <h2>User was verified.</h2>
        <a href="{% url "appointment:user_verified" document_id %}">Confirm</a>
        <a href="{% url "appointment:view-appointment" back %}">Back</a>
    {% else %}
        <a href="javascript:void(0)">Confirm</a>
        <a href="{% url "appointment:view-appointment" back %}">Back</a>
    {% endif %}
{% endblock %}
