<!DOCTYPE html>

{% extends "layouts/base.html" %}
{% load poll_extras %}

{% block title %}
    Barangay Admin - Details Appointment
{% endblock %}

{% block content %}
    <h1>Appointment Details</h1>

    <ul>
        <li>Status: {{ details.status }}</li>
        <li>Name: {{ details.first_name }} {{ details.last_name }}</li>
        <li>Account Type: {{ details.account_type }}</li>
        <li>Contact Number: {{ details.contact_no }}</li>
    </ul>

    <ul>
        <li>Date: {{ details.appointment_date|date_formatter }}</li>
        <li>Time: {{ details.appointment_time|military_to_standard_time }}</li>
        <li>
            Document Type:
            <ul>
                <Li>{{ details.document|join:", " }}</Li>
            </ul>
        </li>
        <li>Total Amount: {{ amount }}</li>
        <li>Purpose: {{ details.appointment_purpose }}</li>
    </ul>

    <ul>
        <li>Verification: {{ details.appointment_image }}</li>
    </ul>

    <a href="#">Save</a>
    <a href="{% url "appointment:view-appointment" %}">Cancel</a>
{% endblock %}
