{% extends "layouts/base.html" %}

{% load static %}

{% block title %}
    Barangay Admin - Document Issuing Success
{% endblock %}

{% block stylesheets %}
    <link href="{% static "appointment/assets/css/document_issuing_success.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between w-100 flex-wrap py-2">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">Document Info.</h1>
            <p class="mb-0">Display document information</p>
        </div>
    </div>


{% endblock %}

{% block scripts %}

{% endblock %}
