<!DOCTYPE html>

{% extends "layouts/base.html" %}
{% load poll_extras %}

{% block title %}
    Barangay Admin - View Appointment
{% endblock %}

{% block content %}
    <h1>Appointments</h1>

    <h2>{{ appointment_date }} <span><a href="{% url "appointment:view-appointment" previous_date %}">Previous</a><a
        href="{% url "appointment:view-appointment" current_date %}">Today</a><a
            href="{% url "appointment:view-appointment" next_date %}">Next</a></span></h2>

    <table>
        <tr>
            <th>ID</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Recipient</th>
            <th>Document</th>
            <th>Status</th>
        </tr>
        <tr>
            {% if appointments_list  == None %}
                There is no Appointments
            {% else %}
                {% for appointment in appointments_list %}
                    <tr>
                        <td><a href="{% url "appointment:detail-appointment" appointment.document_id|base64_encode  %}">{{ appointment.appointment_id }}</a></td>
                        <td><a href="{% url "appointment:detail-appointment" appointment.document_id|base64_encode  %}">{{ appointment.start_appointment|firebase_timestamp_format:8 }}</a></td>
                        <td><a href="{% url "appointment:detail-appointment" appointment.document_id|base64_encode  %}">{{ appointment.end_appointment|firebase_timestamp_format:8  }}</a></td>
                        <td><a href="{% url "appointment:detail-appointment" appointment.document_id|base64_encode  %}">{{ appointment.first_name }} {{ appointment.middle_name }} {{ appointment.last_name }}</a></td>
                        <td><a href="{% url "appointment:detail-appointment" appointment.document_id|base64_encode  %}">{{ appointment.document|join:", " }}</a></td>
                        <td><a href="{% url "appointment:detail-appointment" appointment.document_id|base64_encode  %}">{{ appointment.status }}</a></td>
                    </tr>
                {% empty %}
                    <tr>No Appointments.</tr>
                {% endfor %}
            {% endif %}
        </tr>
    </table>
{% endblock %}
