<!DOCTYPE html>
{% load poll_extras %}
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Reschedule Appointment</title>

        <!-- Vendors -->
        <link href="{% static "/assets/vendor/sweetalert2/dist/sweetalert2.min.css" %}" rel="stylesheets" type="text/css">
        <link href="{% static "/assets/vendor/notyf/notyf.min.css" %}" rel="stylesheet" type="text/css">


        <!-- Vendors -->
        <link href="{% static "/assets/vendor/sweetalert2/dist/sweetalert2.min.css" %}" rel="stylesheets" type="text/css">
        <link href="{% static "/assets/vendor/notyf/notyf.min.css" %}" rel="stylesheet" type="text/css">

        <!-- Stylesheets -->
        <link href="{% static "/assets/css/volt.css" %}" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

        <!-- Custom Style -->
        <link rel="stylesheet" href="{% static "appointment/assets/css/view_appointment_custom_style.css" %}">
    </head>
    <body>

        {% include "includes/sidebar.html" %}

        <main class="content">
            {% include "includes/navigation.html" %}

            <h1>Appointments</h1>

            <h2><input class="date_picker" type="text" id="basicDate" data-input></h2>

            <a href="{% url "appointment:view_appointments" previous_date %}">Previous</a>
            <a href="{% url "appointment:view_appointments" current_date %}">Today</a>
            <a href="{% url "appointment:view_appointments" next_date %}">Next</a>

            <table>
                <tr>
                    <th>ID</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Recipient</th>
                    <th>Document</th>
                    <th>Status</th>
                </tr>
                {% if appointments_list  == None %}
                    There is no Appointments
                {% else %}
                    {% for appointment in appointments_list %}
                        <tr>
                            {% if appointment.status == "request" %}
                                <td>
                                    <a href="{% url "appointment:request" appointment.document_id|base64_encode %}">{{ appointment.document_id }}</a>
                                </td>
                                <td>
                                    <a href="{% url "appointment:request" appointment.document_id|base64_encode %}">{{ appointment.start_appointment|firebase_timestamp_format:8 }}</a>
                                </td>
                                <td>
                                    <a href="{% url "appointment:request" appointment.document_id|base64_encode %}">{{ appointment.end_appointment|firebase_timestamp_format:8 }}</a>
                                </td>
                                <td>
                                    <a href="{% url "appointment:request" appointment.document_id|base64_encode %}">{{ appointment.first_name }} {{ appointment.middle_name }} {{ appointment.last_name }}</a>
                                </td>
                                <td>
                                    <a href="{% url "appointment:request" appointment.document_id|base64_encode %}">{{ appointment.document|join:", " }}</a>
                                </td>
                                <td>
                                    <a href="{% url "appointment:request" appointment.document_id|base64_encode %}">{{ appointment.status }}</a>
                                </td>
                            {% elif appointment.status == "process" %}
                                <td>
                                    <a href="{% url "appointment:process" appointment.document_id|base64_encode %}">{{ appointment.document_id }}</a>
                                </td>
                                <td>
                                    <a href="{% url "appointment:process" appointment.document_id|base64_encode %}">{{ appointment.start_appointment|firebase_timestamp_format:8 }}</a>
                                </td>
                                <td>
                                    <a href="{% url "appointment:process" appointment.document_id|base64_encode %}">{{ appointment.end_appointment|firebase_timestamp_format:8 }}</a>
                                </td>
                                <td>
                                    <a href="{% url "appointment:process" appointment.document_id|base64_encode %}">{{ appointment.first_name }} {{ appointment.middle_name }} {{ appointment.last_name }}</a>
                                </td>
                                <td>
                                    <a href="{% url "appointment:process" appointment.document_id|base64_encode %}">{{ appointment.document|join:", " }}</a>
                                </td>
                                <td>
                                    <a href="{% url "appointment:process" appointment.document_id|base64_encode %}">{{ appointment.status }}</a>
                                </td>
                            {% elif appointment.status == "get" %}
                                <td>
                                    <a href="{% url "appointment:get" appointment.document_id|base64_encode %}">{{ appointment.document_id }}</a>
                                </td>
                                <td>
                                    <a href="{% url "appointment:get" appointment.document_id|base64_encode %}">{{ appointment.start_appointment|firebase_timestamp_format:8 }}</a>
                                </td>
                                <td>
                                    <a href="{% url "appointment:get" appointment.document_id|base64_encode %}">{{ appointment.end_appointment|firebase_timestamp_format:8 }}</a>
                                </td>
                                <td>
                                    <a href="{% url "appointment:get" appointment.document_id|base64_encode %}">{{ appointment.first_name }} {{ appointment.middle_name }} {{ appointment.last_name }}</a>
                                </td>
                                <td>
                                    <a href="{% url "appointment:get" appointment.document_id|base64_encode %}">{{ appointment.document|join:", " }}</a>
                                </td>
                                <td>
                                    <a href="{% url "appointment:get" appointment.document_id|base64_encode %}">{{ appointment.status }}</a>
                                </td>
                            {% elif appointment.status == "completed" %}
                                <td>{{ appointment.document_id }}</td>
                                <td>{{ appointment.start_appointment|firebase_timestamp_format:8 }}</td>
                                <td>{{ appointment.end_appointment|firebase_timestamp_format:8 }}</td>
                                <td>{{ appointment.first_name }} {{ appointment.middle_name }} {{ appointment.last_name }}</td>
                                <td>{{ appointment.document|join:", " }}</td>
                                <td>{{ appointment.status }}</td>
                            {% endif %}
                        </tr>
                    {% empty %}
                        <tr>No Appointments.</tr>
                    {% endfor %}
                {% endif %}
            </table>

            {% include "includes/settings-box.html" %}
            {% include "includes/footer.html" %}
        </main>


        <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!--  Flatpickr  -->
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


        <script type="text/javascript">
            let d = new Date(year ={{ curr_year }}, month = {{ curr_month }} -1, date ={{ curr_day }});

            $("#basicDate").flatpickr({
                dateFormat: "l, F d, Y",
                defaultDate: d.toISOString(),
                onChange: function (selectedDates, dateStr, instance) {
                    let dConsole = new Date(dateStr);
                    let year = dConsole.getFullYear();
                    let month = dConsole.getMonth();
                    let date = dConsole.getDate();

                    let pathName = (window.location.pathname);
                    pathName = pathName.split("/");
                    pathName[pathName.length - 1] = `${year}-${month + 1}-${date}`;
                    pathName = pathName.join("/");
                    let full_URL = window.location.origin + pathName;
                    window.location.href = full_URL;
                }
            });
        </script>
    </body>
</html>
