<!DOCTYPE html>

{% extends "layouts/base.html" %}
{% load poll_extras %}

{% block title %}
    Barangay Admin - View Appointment
{% endblock %}

{% block content %}
    <h1>Appointments</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Time</th>
            <th>Recipient</th>
            <th>Document</th>
            <th>Status</th>
        </tr>
        <tr>
            {% if appointments  == None %}
                There is no Appointments
            {% else %}
                {% for appointment_key, appointment_value in appointments.items %}
                    <tr>
                        <td>
                            <a href="{% url "appointment:detail-appointment" appointment_value.appointment_id|base64_encode %}">{{ appointment_value.appointment_id }}</a>
                        </td>
                        <td>
                            <a href="{% url "appointment:detail-appointment" appointment_value.appointment_id|base64_encode %}">{{ appointment_key }}</a>
                        </td>
                        <td>
                            <a href="{% url "appointment:detail-appointment" appointment_value.appointment_id|base64_encode %}">{{ appointment_value.first_name }} {{ appointment_value.last_name }}</a>
                        </td>
                        <td>
                            <a href="{% url "appointment:detail-appointment" appointment_value.appointment_id|base64_encode %}">{{ appointment_value.document|join:", " }}</a>
                        </td>
                        <td>
                            <a href="{% url "appointment:detail-appointment" appointment_value.appointment_id|base64_encode %}">{{ appointment_value.status }}</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tr>
    </table>
{% endblock %}
