aiofile==3.7.1
aiohttp>=3.7.4
azure-ai-formrecognizer==3.1.2
blackfire==1.6.1
browserstack-local==1.2.3
coveralls==3.2.0
Django==3.2.7
django-coverage-plugin==2.0.0
django-redis==5.0.0
django-storages==1.11.1
Faker==8.13.2
firebase-admin==5.0.3
gcloud-aio-storage==6.1.1
gcloud-rest-storage==6.2.0
google-cloud-secret-manager==2.7.1
google-cloud-storage==1.42.2
google-cloud-vision==2.4.2
google-python-cloud-debugger==2.18
gunicorn==20.1.0
isort==5.9.3
mypy==0.910
Pillow==8.3.2
pre-commit==2.15.0
pylint==2.11.1
pylint-django==2.4.4
pyment==0.3.3
python-dotenv==0.19.0
pytz==2021.1
selenium==3.141.0
sentry-sdk==1.4.1
uvicorn==0.15.0
