{% extends "layouts/base_table.html" %}
{% block title %}{{ title }}{% endblock %}
{% load static %}

<!-- Page Title & Subtitle -->
{% block page_title %}{{ title }}{% endblock page_title %}
{% block page_subtitle %}{{ sub_title }}{% endblock page_subtitle %}

{% block content %}
    <div class="col-lg-4">
        <!-- Modal Content -->
        <div class="modal fade" id="user-modal" tabindex="-1" role="dialog" aria-labelledby="user-modal"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add User</h5>
                        <button type="button" id="close-modal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        {{ form.non_field_errors }}
                    </div>
                    <div class="modal-body" id="modal-body">
                        <form enctype="multipart/form-data" method="post" id="modal-form">
                            {% csrf_token %}
                            {{ form.user_id }}

                            <div class="row">
                                <!-- Form -->
                                <div class="form-group mb-4 col">
                                    {{ form.email.label_tag }}
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">
                                            <span class="fas fa-envelope"></span>
                                        </span>
                                        {{ form.email }}
                                    </div>
                                    <div class="badge m-0 bg-danger text-uppercase">{{ form.email.errors|striptags }}</div>
                                </div>
                                <!-- End of Form -->

                                <div class="form-group col">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        {{ form.display_name.label_tag }}
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2">
                                                <span class="fas fa-passport"></span>
                                            </span>
                                            {{ form.display_name }}
                                        </div>
                                        <div class="badge m-0 bg-danger text-uppercase">{{ form.display_name.errors|striptags }}</div>
                                    </div>
                                    <!-- End of Form -->
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        {{ form.role.label_tag }}
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2">
                                                <span class="fas fa-user-secret"></span>
                                            </span>
                                            {{ form.role }}
                                        </div>
                                        <div class="badge m-0 bg-danger text-uppercase">{{ form.role.errors|striptags }}</div>
                                    </div>
                                    <!-- End of Form -->
                                </div>

                                <div class="form-group col">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        {{ form.disabled.label_tag }}
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2">
                                                <span class="fas fa-key"></span>
                                            </span>
                                            {{ form.disabled }}
                                        </div>
                                        <div class="badge m-0 bg-danger text-uppercase">{{ form.disabled.errors|striptags }}</div>
                                    </div>
                                    <!-- End of Form -->
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        {{ form.phone_number.label_tag }}
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2">
                                                <span class="fas fa-phone"></span>
                                            </span>
                                            {{ form.phone_number }}
                                        </div>
                                        <div class="badge m-0 bg-danger text-uppercase">{{ form.phone_number.errors|striptags }}</div>
                                    </div>
                                    <!-- End of Form -->
                                </div>

                                <div class="form-group col">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        {{ form.photo_url.label_tag }}
                                        {{ form.photo_url }}
                                        <div class="badge m-0 bg-danger text-uppercase">{{ form.photo_url.errors|striptags }}</div>
                                    </div>
                                    <!-- End of Form -->
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" id="cancel-modal" class="btn btn-link text-gray-600 ms-auto"
                            data-bs-dismiss="modal">Cancel
                        </button>
                        <button form="modal-form" type="submit" name="button" id="modal-submit-button"
                            class="btn btn-secondary">Create User
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Modal Content -->
    </div>
{% endblock content %}

{% block table_content %}
    <thead class="table-dark">
        <tr>
            <th data-checkbox="true"></th>
            <th data-field="creation_date" data-halign="center" data-align="center" data-sortable="true" data-footer-formatter="totalTextFormatter" class="border-0">DATE CREATED</th>
            <th data-field="uid" data-halign="center" data-align="center" data-sortable="true" data-footer-formatter="totalNameFormatter">USER #</th>
            <th data-field="display_name" data-halign="center" data-align="center" data-sortable="true">DISPLAY NAME</th>
            <!-- RBI DATA -->
            <th data-field="first_name" data-halign="center" data-visible="false" data-align="center" data-sortable="true">FIRST NAME</th>
            <th data-field="middle_name" data-halign="center" data-visible="false" data-align="center" data-sortable="true">MIDDLE NAME</th>
            <th data-field="last_name" data-halign="center" data-visible="false" data-align="center" data-sortable="true">LAST NAME</th>
            <th data-field="address" data-halign="center" data-visible="false" data-align="center" data-sortable="true">ADDRESS</th>
            <th data-field="birth_date" data-halign="center" data-visible="false" data-align="center" data-sortable="true">BIRTH DATE</th>
            <th data-field="citizenship" data-halign="center" data-visible="false" data-align="center" data-sortable="true">CITIZENSHIP</th>
            <th data-field="age" data-halign="center" data-visible="false" data-align="center" data-sortable="true">AGE</th>
            <th data-field="remarks" data-halign="center" data-visible="false" data-align="center" data-sortable="true">FAMILY ROLE</th>
            <th data-field="street" data-halign="center" data-visible="false" data-align="center" data-sortable="true">STREET</th>
            <th data-field="civil_status" data-halign="center" data-visible="false" data-align="center" data-sortable="true">CIVIL STATUS</th>
            <th data-field="birth_place" data-halign="center" data-visible="false" data-align="center" data-sortable="true">BIRTH PLACE</th>
            <th data-field="sex" data-halign="center" data-visible="false" data-align="center" data-sortable="true">GENDER</th>
            <th data-field="monthly_income" data-halign="center" data-visible="false" data-align="center" data-sortable="true">MONTHLY INCOME</th>
            <th data-field="house_num" data-halign="center" data-visible="false" data-align="center" data-sortable="true">HOUSE #</th>
            <!-- RBI DATA -->
            <th data-field="email" data-halign="center" data-visible="false" data-align="center" data-sortable="true">EMAIL</th>
            <th data-field="phone_number" data-halign="center" data-align="center" data-sortable="true">PHONE NUMBER</th>
            <th data-field="role" data-halign="center" data-align="center" data-sortable="true">USER ROLE</th>
            <th data-field="provider" data-halign="center" data-align="center" data-sortable="true">ACCOUNT PROVIDER</th>
            <th data-field="last_sign_in" data-halign="center" data-align="center" data-sortable="true" data-formatter="lastSignInFormatter">ACTIVE</th>
            <th data-field="email_verified" data-halign="center" data-align="center" data-sortable="true" data-formatter="emailVerifiedFormatter">EMAIL VERIFIED</th>
            <th data-field="disabled" data-halign="center" data-align="center" data-formatter="accountStatusFormatter" data-sortable="true">ACCOUNT STATUS</th>
            <th data-field="photo_url" data-halign="center" data-align="center" data-visible="false">PROFILE PICTURE</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td></td>
                <td class="fw-bold d-flex align-items-center">{{ user.creation_date|default:"None Provided" }}</td>
                <td>{{ user.user_id|default:"None Provided" }}</td>
                <td>{{ user.display_name|default:"None Provided" }}</td>
                <td>{{ user.first_name|default:"None Provided" }}</td>
                <td>{{ user.middle_name|default:"None Provided" }}</td>
                <td>{{ user.last_name|default:"None Provided" }}</td>
                <td>{{ user.address|default:"None Provided" }}</td>
                <td>{{ user.birth_date|default:"None Provided" }}</td>
                <td>{{ user.citizenship|default:"None Provided" }}</td>
                <td>{{ user.age|default:"None" }}</td>
                <td>{{ user.remarks|default:"None Provided" }}</td>
                <td>{{ user.street|default:"None Provided" }}</td>
                <td>{{ user.civil_status|default:"None Provided" }}</td>
                <td>{{ user.birth_place|default:"None Provided" }}</td>
                <td>{{ user.sex|default:"None Provided" }}</td>
                <td>{{ user.monthly_income|default:"None Provided" }}</td>
                <td>{{ user.house_num|default:"None Provided" }}</td>
                <td>{{ user.email|default:"None Provided" }}</td>
                <td>{{ user.phone_number|default:"None Provided" }}</td>
                <td>{{ user.role|default:"None Provided" }}</td>
                <td>{{ user.provider|default:"None Provided" }}</td>
                <td>{{ user.last_sign_in|timesince|default:"Unknown" }}</td>
                <td>{{ user.email_verified|default:"None Provided" }}</td>
                <td>{{ user.disabled|default_if_none:"None Provided" }}</td>
                <td>{{ user.photo_url|default:default_image }}</td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block template %}
    <template id="profileTemplate">
        <div class="col-4 mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-lg-8 col-md-6">
                            <h3 class="font-weight-bold">User I.D.</h3>
                            <h4 class="font-weight-bold">%ID%</h4>
                            <div class="align-items-center justify-content-center">
                                <div class="row">
                                    <div class="fw-extrabold mt-3">Display Name</div>
                                    <p class="fs-6">%NAME%</p>
                                </div>
                                <div class="row">
                                    <div class="col col-md-auto">
                                        <p>
                                            <span class="fw-extrabold d-block">Email Address</span>
                                            %EMAIL%
                                        </p>
                                    </div>
                                </div>
                                <div class="row justify-content-start">
                                    <div class="col col-md-auto">
                                        <div class="fw-extrabold">Contact Number</div>
                                        <p class="fs-6">%PHONE_NUMBER%</p>
                                    </div>
                                    <div class="col col-md-auto">
                                        <div class="fw-extrabold w-auto">User Role</div>
                                        <p>%USER_ROLE%</p>
                                    </div>
                                    <div class="col col-md-auto">
                                        <div class="fw-extrabold w-auto">Active</div>
                                        <p>%ACTIVE%</p>
                                    </div>
                                    <div class="col col-md-auto">
                                        <div class="fw-extrabold text-nowrap">Account Status</div>
                                        <p>%STATUS%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 col-md-6 text-center">
                            <img id="proof-image" src="%IMAGE%" alt="Profile Picture"
                                class="mx-auto img-thumbnail img-fluid"
                                style="height: 120px;">
                            <br>
                            <span id="proof-image-desc" class="fw-extrabold form-text">Profile Picture</span>
                        </div>
                        <div class="col-12 col-lg-12 pt-5 d-flex flex-row-reverse">
                            <button class="btn btn-outline-info remove" name="delete" id="edit-account"
                                onclick="editAccount('%ID%', '%NAME%', '%EMAIL%', '%USER_ROLE%', '%PHONE_NUMBER%', '%TYPE%')"
                                data-toggle="tooltip" data-placement="top" title="Edit Account">
                                <span class="fas fa-edit"></span>
                                Edit
                            </button>
                            <button name="reset" class="btn btn-outline-tertiary" onclick="actionButton('%EMAIL%', 'reset')"
                                data-toggle="tooltip" data-placement="top" title="Reset Password">
                                <span class="fas fa-unlock"></span>
                                Reset Password
                            </button>
                            <button class="btn btn-outline-danger remove" name="delete" onclick="actionButton('%ID%', 'delete')"
                                data-toggle="tooltip" data-placement="top" title="Delete Account">
                                <span class="fas fa-trash"></span>
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
{% endblock template %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        const userManagementHome = '{% url "user_management:home" %}'
        const userManagementEdit = '{% url "user_management:edit" user_id=0 %}'
        const userManagementDelete = '{% url "user_management:delete" user_id=0 %}'
        const userManagementReset = '{% url "user_management:reset" email=0 %}'
        const userManageDefaultImg = '{% static "/assets/img/default-user-management-image.jpg" %}'
    </script>
    <script src="{% static "/assets/user_management/js/user_table.js" %}"></script>
    <script>
        {% if form.errors %}
            userModal.show()
        {% endif %}
    </script>
{% endblock scripts %}
