{% extends "layouts/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "/announcement/assets/css/styles.css" %}">
{% endblock %}

<!-- Page Title & Subtitle -->
{% block page_title %}{{ title }}{% endblock page_title %}
{% block page_subtitle %}{{ sub_title }}{% endblock page_subtitle %}

{% block content %}
    <div class="pb-4">
        <a href="{% url "announcement:create" %}" class="btn btn-secondary">
            <svg class="icon icon-xs" fill="none"
                stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                >
                </path>
            </svg>
            Add
        </a>
    </div>

    <article>
        <div class="hr-theme-slash-2 mb-4 align-middle">
            <div class="hr-line border-5"></div>
            <div class="hr-icon fs-1 fw-bold text-nowrap">FEATURED 📌</div>
            <div class="hr-line border-5"></div>
        </div>

        <div class="row row-cols-1 row-cols-sm-4 g-4 position-relative justify-content-center">
            {% for post in featured_announcements %}
                <div id="{{ post.announcement_id }}" class="col">
                    <div class="card text-center">
                        <h2 class="card-header badge bg-primary text-wrap p-2">Featured</h2>
                        <!-- Post thumbnail -->
                        <figure>
                            <div class="thumbnail">
                                {% if post.thumbnail %}
                                    <img class="m-0" src="{{ post.thumbnail }}" alt="post-thumbnail">
                                {% else %}
                                    <img class="m-0" src="{% static "/assets/img/default-blog-image.jpg" %}" alt="default-thumbnail">
                                {% endif %}
                            </div>
                        </figure>
                        <div class="card-body">
                            <!-- Post title -->
                            <h5 class="card-title">{{ post.title|title }}</h5>
                            <!-- Post categories -->
                            <div class="mb-3">
                                {% for category in post.categories %}
                                    <a class="badge bg-secondary text-decoration-none link-light"
                                        href="#">{{ category|title }}</a>
                                {% endfor %}
                            </div>
                            <!-- Post content -->
                            <section>{{ post.body|safe|striptags|lower|truncatewords:25 }}</section>
                            <!-- Post actions -->
                            <div class="buttons text-end pt-4">
                                {% if request.session.user.role != "resident" and request.session.user.role != "secretary" %}
                                    <a href="{% url "announcement:delete" post.announcement_id post.thumbnail_name %}"
                                        class="btn btn-danger">Delete</a>
                                    <a href="{% url "announcement:edit" post.announcement_id %}"
                                        class="btn btn-primary">Edit</a>
                                {% endif %}
                                <a href="{% url "announcement:view" post.announcement_id %}"
                                    class="btn btn-info">View</a>
                            </div>
                        </div>
                        <!-- Post meta content-->
                        <div class="card-footer text-muted">
                            {% if post.updated %}
                                Updated {{ post.updated|timesince }} ago
                            {% else %}
                                Created {{ post.creation_date|timesince }} ago
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="text-center fs-1">Sorry, no featured post this time.</div>
            {% endfor %}
        </div>
    </article>

    <article>
        <div class="hr-theme-slash-2 mb-4">
            <div class="hr-line border-5"></div>
            <div class="hr-icon fs-1 fw-bold text-nowrap">NEW 🌟</div>
            <div class="hr-line border-5"></div>
        </div>

        <div class="row row-cols-1 row-cols-sm-4 g-4 position-relative justify-content-center">
            {% for post in new_announcements %}
                <div id="{{ post.announcement_id }}" class="col">
                    <div class="card text-center">
                        <h2 class="card-header badge bg-primary text-wrap p-2">New</h2>
                        <!-- Post thumbnail -->
                        <figure>
                            <div class="thumbnail">
                                {% if post.thumbnail %}
                                    <img class="m-0" src="{{ post.thumbnail }}" alt="post-thumbnail">
                                {% else %}
                                    <img class="m-0" src="{% static "/assets/img/default-blog-image.jpg" %}" alt="default-thumbnail">
                                {% endif %}
                            </div>
                        </figure>
                        <div class="card-body">
                            <!-- Post title -->
                            <h5 class="card-title">{{ post.title|title }}</h5>
                            <!-- Post categories -->
                            <div class="mb-3">
                                {% for category in post.categories %}
                                    <a class="badge bg-secondary text-decoration-none link-light"
                                        href="#">{{ category|title }}</a>
                                {% endfor %}
                            </div>
                            <!-- Post content -->
                            <section>{{ post.body|safe|striptags|lower|truncatewords:25 }}</section>
                            <!-- Post actions -->
                            <div class="buttons text-end pt-4">
                                {% if request.session.user.role != "resident" and request.session.user.role != "secretary" %}
                                    <a href="{% url "announcement:delete" post.announcement_id post.thumbnail_name %}"
                                        class="btn btn-danger">Delete</a>
                                    <a href="{% url "announcement:edit" post.announcement_id %}"
                                        class="btn btn-primary">Edit</a>
                                {% endif %}
                                <a href="{% url "announcement:view" post.announcement_id %}"
                                    class="btn btn-info">View</a>
                            </div>
                        </div>
                        <!-- Post meta content-->
                        <div class="card-footer text-muted">
                            {% if post.updated %}
                                Updated {{ post.updated|timesince }} ago
                            {% else %}
                                Created {{ post.creation_date|timesince }} ago
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="text-center fs-1">Sorry, no new post this time.</div>
            {% endfor %}
        </div>
    </article>

    <article>
        <div class="hr-theme-slash-2 mb-4 align-middle">
            <div class="hr-line border-5"></div>
            <div class="hr-icon fs-1 fw-bold text-nowrap">OLD 🐢</div>
            <div class="hr-line border-5"></div>
        </div>
        <div class="row row-cols-1 row-cols-sm-4 g-4 position-relative justify-content-center">
            {% for post in old_announcements %}
                <div id="{{ post.announcement_id }}" class="col">
                    <div class="card text-center">
                        <h2 class="card-header badge bg-primary text-wrap p-2">Old</h2>
                        <!-- Post thumbnail -->
                        <figure>
                            <div class="thumbnail">
                                {% if post.thumbnail %}
                                    <img class="m-0" src="{{ post.thumbnail }}" alt="post-thumbnail">
                                {% else %}
                                    <img class="m-0" src="{% static "/assets/img/default-blog-image.jpg" %}" alt="default-thumbnail">
                                {% endif %}
                            </div>
                        </figure>
                        <div class="card-body">
                            <!-- Post title -->
                            <h5 class="card-title">{{ post.title|title }}</h5>
                            <!-- Post categories -->
                            <div class="mb-3">
                                {% for category in post.categories %}
                                    <a class="badge bg-secondary text-decoration-none link-light"
                                        href="#">{{ category|title }}</a>
                                {% endfor %}
                            </div>
                            <!-- Post content -->
                            <section>{{ post.body|safe|striptags|lower|truncatewords:25 }}</section>
                            <!-- Post actions -->
                            <div class="buttons text-end pt-4">
                                {% if request.session.user.role != "resident" and request.session.user.role != "secretary" %}
                                    <a href="{% url "announcement:delete" post.announcement_id post.thumbnail_name %}"
                                        class="btn btn-danger">Delete</a>
                                    <a href="{% url "announcement:edit" post.announcement_id %}"
                                        class="btn btn-primary">Edit</a>
                                {% endif %}
                                <a href="{% url "announcement:view" post.announcement_id %}"
                                    class="btn btn-info">View</a>
                            </div>
                        </div>
                        <!-- Post meta content-->
                        <div class="card-footer text-muted">
                            {% if post.updated %}
                                Updated {{ post.updated|timesince }} ago
                            {% else %}
                                Created {{ post.creation_date|timesince }} ago
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="text-center fs-1">Sorry, no old post this time.</div>
            {% endfor %}
        </div>
    </article>
{% endblock content %}

{% block scripts %}
    <script>
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger me-2'
            },
            buttonsStyling: false
        })
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    swalWithBootstrapButtons.fire({
                        title: "Success",
                        icon: "success",
                        text: '{{ message }}',
                        confirmButtonText: 'Yes!',
                        cancelButtonText: 'No.'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = "{% url "announcement:home" %}"
                        }
                    });
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    swalWithBootstrapButtons.fire({
                        title: "Error!",
                        icon: "error",
                        text: "{{ message }}",
                        confirmButtonText: 'OK'
                    })
                {% endif %}
            {% endfor %}
        {% endif %}
    </script>
{% endblock scripts %}
