{% load static %}
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-messaging.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
<script type="text/javascript">
    // Initialize Firebase
    const firebaseConfig = {
        apiKey: "AIzaSyBFHIY07QF7_HQOaxgPdng648sZgIyL3Wg",
        authDomain: "onebarangay-malanday.firebaseapp.com",
        projectId: "onebarangay-malanday",
        storageBucket: "onebarangay-malanday.appspot.com",
        messagingSenderId: "151952863728",
        appId: "1:151952863728:web:7660ee42c28cd0b391ad35",
        measurementId: "G-MJRG0CGME7"
    };
    app = firebase.initializeApp(firebaseConfig);
    const messaging = firebase.messaging(app);
    const firestore_db = firebase.firestore(app);
    const analytics = firebase.analytics(app);
    const auth = firebase.auth()
</script>
<!-- Notyf -->
<script src="{% static "/assets/vendor/notyf/notyf.min.js" %}"></script>

<!-- Sweet Alerts 2 -->
<script src="{% static "/assets/vendor/sweetalert2/dist/sweetalert2.all.min.js" %}"></script>

<!-- Charts -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

<!-- Base JS -->
<script src="{% static "/assets/js/base.js" %}"></script>
