{% extends "layouts/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link href="{% static "/assets/vendor/bootstrap-table/dist/bootstrap-table.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "/assets/vendor/bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.css" %}" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="{% static "/assets/vendor/bootstrap-table/dist/bootstrap-table.min.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="{% static "/assets/vendor/bootstrap-table/dist/extensions/copy-rows/bootstrap-table-copy-rows.min.js" %}"></script>
    <script src="{% static "/assets/vendor/bootstrap-table/dist/extensions/mobile/bootstrap-table-mobile.min.js" %}"></script>
    <script src="{% static "/assets/vendor/bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js" %}"></script>
    <script src="{% static "/assets/vendor/bootstrap-table/dist/extensions/multiple-sort/bootstrap-table-multiple-sort.js" %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static "/assets/vendor/bootstrap-table/dist/locale/bootstrap-table-en-US.min.js" %}"></script>
{% endblock stylesheets %}

{% block content %}
    <style>
        td a {
            display: block;
            width: 100%;
        }
    </style>
    <div class="d-flex justify-content-between w-100 flex-wrap py-4">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">{{ title }}</h1>
            <!-- TODO: sub_title -->
            <p class="mb-0">A list of rows for complaints in the barangay.</p>
        </div>
        <div>
            <a href="#" class="btn btn-outline-gray">
                <i class="fas fa-question-circle me-1"></i>Filter
            </a>
        </div>
    </div>
    <div class="py-4">
        <!-- TODO: Add Complaint only for residents -->
        <a href="{% url "complaint:create" %}" class="btn btn-primary">
            <span class="fas fa-plus me-2"></span>
            Add Complaint
        </a>
    </div>
    <div class="py-4 d-flex text-center justify-content-center">
        <form action="{% url "complaint:home" %}" method="post" id="dummyComplaint" class="form-group w-25">
            {% csrf_token %}
            <!-- TODO: Remove dummy generation -->
            <label for="numComplaint">How many Complaint to generate?</label>
            <div class="input-group">
                <button type="submit" form="dummyComplaint" class="btn btn-primary input-group-text">
                    <i class="fas fa-paper-plane" aria-hidden="true"></i>
                </button>
                <input type="number" class="form-control" name="dummy_count" id="numComplaint">
            </div>
        </form>
    </div>
    <div class="card border-0 shadow mb-4 position-relative">
        <div class="card-body">
            <div class="table-responsive overflow-hidden">
                <table
                    id="table"
                    data-pagination="true"
                    data-toggle="table"
                    data-search="true"
                    data-show-columns="true"
                    data-page-list="[10, 25, 50, 100, all]"
                    data-toolbar="#toolbar"
                    data-buttons-order="['paginationSwitch', 'refresh', 'toggle', 'fullscreen', 'edit', 'export', 'copy', 'sort', 'columns']"
                    data-buttons="customButtons"
                    data-show-refresh="true"
                    data-mobile-responsive="true"
                    data-show-toggle="true"
                    data-show-fullscreen="true"
                    data-show-copy-rows="true"
                    data-show-columns-toggle-all="true"
                    data-detail-view="true"
                    data-show-export="true"
                    data-click-to-select="true"
                    data-show-multi-sort="true"
                    data-sort-priority='[{"sortName": "created_at","sortOrder":"desc"},{"sortName": "date","sortOrder":"desc"}]'
                    data-detail-formatter="detailFormatter"
                    data-minimum-count-columns="2"
                    data-show-pagination-switch="true"
                    data-toolbar-align="end"
                    data-pagination-loop="true"
                    data-id-field="complaint_id"
                    data-id-table="advancedTable"
                    data-advanced-search="true"
                    data-search-accent-neutralise="true"
                    data-search-highlight="true"
                    data-show-footer="true"
                    data-auto-refresh="true"
                    data-cache="false"
                    data-events="operateEvents"
                    data-reorderable-columns="true"
                    data-response-handler="responseHandler"
                    data-show-custom-view="true"
                    data-custom-view="customViewFormatter"
                    data-show-custom-view-button="true"
                >
                    <thead class="table-dark">
                        <tr>
                            <th data-field="complaint_id" class="border-0">COMPLAINT I.D</th>
                            <th data-field="house_num">HOUSE #</th>
                            <th data-field="date" data-formatter="createdFormatter" class="border-0">TIME</th>
                            <th data-field="complainant" class="border-0">COMPLAINANT NAME</th>
                            <th data-field="contact_number" class="border-0">CONTACT NUMBER</th>
                            <th data-field="complaint_type" class="border-0">COMPLAINT TYPE</th>
                            <th data-field="status" class="border-0">COMPLAINT STATUS</th>
                            <th data-field="comment" class="border-0">COMPLAINT comment</th>
                            <th data-field="image" data-visible="false" class="border-0">IMAGE</th>
                            <th data-field="address" class="border-0">ADDRESS</th>
                            <th data-field="action" data-formatter="operateFormatter" class="border-0">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for complaint in complaints %}
                            <tr>
                                <td class="fw-bold d-flex align-items-center">
                                    <a href="{% url "complaint:detail" complaint.complaint_id %}" class="text-info">
                                        {{ complaint.complaint_id }}
                                    </a>
                                </td>
                                <td>{{ complaint.house_num }}</td>
                                <td>{{ complaint.date|date:"c" }}</td>
                                <td>{{ complaint.complainant_name }}</td>
                                <td>{{ complaint.contact_number }}</td>
                                <td>{{ complaint.complaint_type }}</td>
                                <td>{{ complaint.complaint_status }}</td>
                                <td>{{ complaint.comment|truncatewords:10 }}</td>
                                <td>{{ complaint.image_url }}</td>
                                <td>{{ complaint.address }}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <template id="profileTemplate">
        <div class="col-4 mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-lg-8 col-md-6">
                            <h3 class="mb-0 text-truncated">%NAME%</h3>
                            <div class="row">
                                <div class="fw-extrabold mt-3">Complainant Address</div>
                                <p class="fs-6 text-info ">%ADDRESS%</p>
                                <div class="fw-extrabold">Contact Number</div>
                                <p class="fs-6 text-info ">%PHONE_NUMBER%</p>
                            </div>
                            <p>
                                <span class="fw-extrabold d-block">Reason of Complaint:</span>
                                %COMMENT%
                            </p>
                            <div class="row">
                                <div class="col col-md-auto">
                                    <div class="fw-extrabold w-auto">Status</div>
                                    <div class="text-uppercase">
                                        <div class="badge %BG%">%STATUS%</div>
                                    </div>
                                </div>
                                <div class="col px-0">
                                    <div class="fw-extrabold text-nowrap">Complaint Type</div>
                                    <div class="text-uppercase">
                                        <div class="badge %BG%">%TYPE%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 col-md-6 text-center">
                            <img src="%IMAGE%" alt="Proof" class="mx-auto img-thumbnail img-fluid"
                                style="height: 120px;">
                            <span class="fw-extrabold form-text">Complaint Evidence / Proof</span>
                        </div>
                        <div class="col-12 col-lg-12 d-flex flex-row-reverse">
                            <button id="detailComplaint" class="btn btn-outline-info btn-block" data-toggle="tooltip" data-placement="top" title="View Detailed Complaint">
                                <span class="fas fa-id-badge"></span>
                                %COMPLAINT_ID%
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
{% endblock content %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/toolbar/bootstrap-table-toolbar.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/auto-refresh/bootstrap-table-auto-refresh.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/custom-view/bootstrap-table-custom-view.js"></script>
    <script>
        function customViewFormatter(data) {
            const template = $('#profileTemplate').html();
            let view = '';
            $.each(data, function (i, row) {
                view += template.replace('%NAME%', row.complainant_name)
                    .replace('%IMAGE%', row.image)
                    .replace('%COMPLAINT_ID%', row.complaint_id)
                    .replace('%COMMENT%', row.comment)
                    .replace('%STATUS%', row.status)
                    .replaceAll('%BG%', row.status === 'Resolved' ? 'bg-success' : row.status === 'Handed to Police' ? 'bg-gray-500' : 'bg-secondary')
                    .replace('%TYPE%', row.complaint_type)
                    .replace('%PHONE_NUMBER%', row.contact_number)
                    .replace('%ADDRESS%', row.address);
            })
            return `<div class="row mx-0">${view}</div>`
        }

    </script>
    <script>
        const $table = $('#table');
        const $remove = $('#remove');
        let selections = [];

        function getIdSelections() {
            return $.map($table.bootstrapTable('getSelections'), (row) => row.id);
        }

        /* eslint no-unused-vars:0 */
        function responseHandler(res) {
            $.each(res.rows, (i, row) => {
                /* eslint no-param-reassign:0 */
                row.state = $.inArray(row.id, selections) !== -1;
            });
            return res;
        }

        function detailFormatter(index, row) {
            const html = [];
            $.each(row, (key, value) => {
                html.push(`<p><b>${key}:</b> ${value}</p>`);
            });
            return html.join('');
        }

        function operateFormatter(value, row, index) {
            return [
                '<a class="remove" href="javascript:void(0)" title="Remove">',
                '<i class="fas fa-trash"></i>',
                '</a>',
            ].join('');
        }

        window.operateEvents = {
            /* eslint func-names:0 */
            'click .remove': function (e, value, row, index) {
                $table.bootstrapTable('remove', {
                    field: 'complaint_id',
                    values: [row.id],
                });
            },
        };

        function totalTextFormatter(data) {
            return 'Total';
        }

        function totalNameFormatter(data) {
            return data.length;
        }


        $(document).ready(() => {
            $('.bootstrap-table')
                .addClass('bootstrap5')
                .removeClass('bootstrap4');
        });

        function createdFormatter(value) {
            return moment(value).format('dddd, MMMM Do YYYY, h:mm A');
        }

        /* eslint no-unused-vars:0 */
        function dateFormatter(value) {
            /* eslint no-undef:0 */
            return moment(value, 'YYYY-MM-DD').format('dddd, MMMM Do YYYY');
        }

        $(document).ready(() => {
            $('.bootstrap-table')
                .addClass('bootstrap5')
                .removeClass('bootstrap4');
        });
    </script>
    <script>
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    Swal.fire({
                        title: "Success!",
                        icon: "success",
                        text: '{{ message }}',
                    })
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    Swal.fire({
                        title: "Error!",
                        icon: "error",
                        text: "{{ message }}",
                    })
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    Swal.fire({
                        title: "Attention!",
                        icon: "info",
                        text: "{{ message }}",
                    })
                {% endif %}
            {% endfor %}
        {% endif %}
    </script>
{% endblock scripts %}
