{% extends "layouts/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link href="{% static "/assets/vendor/bootstrap-table/dist/bootstrap-table.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "/assets/vendor/bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.css" %}" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="{% static "/assets/vendor/bootstrap-table/dist/bootstrap-table.min.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="{% static "/assets/vendor/bootstrap-table/dist/extensions/copy-rows/bootstrap-table-copy-rows.min.js" %}"></script>
    <script src="{% static "/assets/vendor/bootstrap-table/dist/extensions/mobile/bootstrap-table-mobile.min.js" %}"></script>
    <script src="{% static "/assets/vendor/bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js" %}"></script>
    <script src="{% static "/assets/vendor/bootstrap-table/dist/extensions/multiple-sort/bootstrap-table-multiple-sort.js" %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static "/assets/vendor/bootstrap-table/dist/locale/bootstrap-table-en-US.min.js" %}"></script>
{% endblock stylesheets %}

{% block content %}
    <style>
        td a {
            display: block;
            width: 100%;
        }
    </style>
    <div class="d-flex justify-content-between w-100 flex-wrap py-4">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">{{ title }}</h1>
            <!-- TODO: sub_title -->
            <p class="mb-0">A list of rows for complaints in the barangay.</p>
        </div>
        <div>
            <a href="#" class="btn btn-outline-gray">
                <i class="fas fa-question-circle me-1"></i>Filter
            </a>
        </div>
    </div>
    <div class="py-4">
        <!-- TODO: Add Complaint only for residents -->
        <a href="{% url "complaint:create" %}" class="btn btn-primary">
            <span class="fas fa-plus me-2"></span>
            Add Complaint
        </a>
    </div>
    <div class="py-4 d-flex text-center justify-content-center">
        <form action="{% url "complaint:home" %}" method="post" id="dummyComplaint" class="form-group w-25">
            {% csrf_token %}
            <!-- TODO: Remove dummy generation -->
            {{ dummy_form.dummy_count.label_tag }}
            <div class="input-group">
                <button type="submit" form="dummyComplaint" name="dummy_form" class="btn btn-primary input-group-text">
                    <i class="fas fa-paper-plane" aria-hidden="true"></i>
                </button>
                {{ dummy_form.dummy_count }}
            </div>
            {% if dummy_form.dummy_count.errors %}
                <div class="badge m-0 bg-danger text-uppercase">{{ dummy_form.dummy_count.errors|striptags }}</div>
            {% endif %}
        </form>
    </div>
    <!-- Modal Content -->
    <div class="modal fade" id="complaint-modal" tabindex="-1" role="dialog" aria-labelledby="complaint-modal"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="h6 modal-title">Contact Complainant</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Form -->
                    <form action="{% url "complaint:home" %}" method="post" id="complaint-form">
                        {% csrf_token %}

                        {% if contact_form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.non_field_errors %}
                                    <p class="text-center">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% for field in form %}
                            <div class="form-group mb-4">
                                {{ field.label_tag }}
                                {{ field }}
                                <small class="form-text text-muted d-block px-1">{{ field.help_text }}</small>
                                {% if field.errors %}
                                    <div class="badge m-0 bg-danger text-uppercase">{{ field.errors|striptags }}</div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </form>
                    <!-- End of Form -->
                </div>
                <div class="modal-footer">
                    <button type="submit" form="complaint-form" name="contact_form" class="btn btn-secondary">Send
                    </button>
                    <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Modal Content -->
    <div class="card border-0 shadow mb-4 position-relative">
        <div class="card-body">
            <div class="table-responsive overflow-hidden">
                <table
                    id="table"
                    data-pagination="true"
                    data-toggle="table"
                    data-search="true"
                    data-show-columns="true"
                    data-page-list="[10, 25, 50, 100, all]"
                    data-toolbar="#toolbar"
                    data-buttons-order="['paginationSwitch', 'refresh', 'toggle', 'fullscreen', 'edit', 'export', 'copy', 'sort', 'columns']"
                    data-buttons="customButtons"
                    data-show-refresh="true"
                    data-mobile-responsive="true"
                    data-show-toggle="true"
                    data-show-fullscreen="true"
                    data-show-copy-rows="true"
                    data-show-columns-toggle-all="true"
                    data-detail-view="true"
                    data-show-export="true"
                    data-click-to-select="true"
                    data-show-multi-sort="true"
                    data-sort-priority='[{"sortName": "complaint_id","sortOrder":"asc"},{"data-server-sortName": "date","sortOrder":"desc"}]'
                    data-detail-formatter="detailFormatter"
                    data-minimum-count-columns="2"
                    data-show-pagination-switch="true"
                    data-toolbar-align="end"
                    data-pagination-loop="true"
                    data-id-field="complaint_id"
                    data-id-table="advancedTable"
                    data-advanced-search="true"
                    data-search-accent-neutralise="true"
                    data-search-highlight="true"
                    data-show-footer="true"
                    data-auto-refresh="true"
                    data-cache="false"
                    data-events="operateEvents"
                    data-reorderable-columns="true"
                    data-response-handler="responseHandler"
                    data-show-custom-view="true"
                    data-custom-view="customViewFormatter"
                    data-show-custom-view-button="true"
                >
                    <thead class="table-dark">
                        <tr>
                            <th data-field="complaint_id" data-sortable="true" class="border-0">COMPLAINT I.D</th>
                            <th data-field="house_num" data-sortable="true">HOUSE #</th>
                            <th data-field="date" data-formatter="createdFormatter" data-sortable="true" class="border-0">CREATED</th>
                            <th data-field="complainant_name" data-sortable="true" class="border-0">COMPLAINANT NAME</th>
                            <th data-field="contact_number" data-sortable="true" class="border-0">CONTACT NUMBER</th>
                            <th data-field="complaint_type" data-sortable="true" class="border-0">COMPLAINT TYPE</th>
                            <th data-field="status" data-sortable="true" class="border-0">COMPLAINT STATUS</th>
                            <th data-field="comment" data-visible="false" class="border-0">COMPLAINT COMMENT</th>
                            <th data-field="image" data-visible="false" class="border-0">IMAGE</th>
                            <th data-field="address" class="border-0">ADDRESS</th>
                            <th data-field="action" data-formatter="operateFormatter" class="border-0">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for complaint in complaints %}
                            <tr>
                                <td class="fw-bold d-flex align-items-center">
                                    <a href="{% url "complaint:detail" complaint.complaint_id %}" class="text-info">
                                        {{ complaint.complaint_id }}
                                    </a>
                                </td>
                                <td>{{ complaint.house_num }}</td>
                                <td>{{ complaint.date|date:"c" }}</td>
                                <td>{{ complaint.complainant_name }}</td>
                                <td>{{ complaint.email }}</td>
                                <td>{{ complaint.contact_number }}</td>
                                <td>{{ complaint.complaint_type }}</td>
                                <td>{{ complaint.complaint_status }}</td>
                                <td>{{ complaint.comment|truncatewords:10 }}</td>
                                <td>{{ complaint.image_url|default_if_none:"No Proof Provided" }}</td>
                                <td>{{ complaint.address }}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <template id="profileTemplate">
        <div class="col-4 mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-lg-8 col-md-6">
                            <h3 class="mb-0 text-truncated">%NAME%</h3>
                            <div class="row">
                                <div class="fw-extrabold mt-3">Complainant Address</div>
                                <p class="fs-6 text-info ">%ADDRESS%</p>
                                <div class="fw-extrabold">Contact Number</div>
                                <p class="fs-6 text-info ">%PHONE_NUMBER%</p>
                            </div>
                            <p>
                                <span class="fw-extrabold d-block">Reason of Complaint:</span>
                                %COMMENT%
                            </p>
                            <div class="row">
                                <div class="col col-md-auto">
                                    <div class="fw-extrabold w-auto">Status</div>
                                    <div class="text-uppercase">
                                        <div class="badge %BG%">%STATUS%</div>
                                    </div>
                                </div>
                                <div class="col px-0">
                                    <div class="fw-extrabold text-nowrap">Complaint Type</div>
                                    <div class="text-uppercase">
                                        <div class="badge %BG%">%TYPE%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 col-md-6 text-center">
                            <img src="%IMAGE%" alt="Proof" class="mx-auto img-thumbnail img-fluid"
                                style="height: 120px;">
                            <span class="fw-extrabold form-text">Complaint Evidence / Proof</span>
                        </div>
                        <div class="col-12 col-lg-12 d-flex flex-row-reverse">
                            <button id="detailComplaint" class="btn btn-outline-info btn-block" data-toggle="tooltip" data-placement="top" title="View Detailed Complaint">
                                <span class="fas fa-id-badge"></span>
                                %COMPLAINT_ID%
                            </button>
                            <button class="btn btn-outline-info remove" onclick="removeRow('%COMPLAINT_ID%')"
                                data-toggle="tooltip" data-placement="top" title="Delete Complaint">
                                <span class="fas fa-trash"></span>
                                Remove
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
{% endblock content %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/toolbar/bootstrap-table-toolbar.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/auto-refresh/bootstrap-table-auto-refresh.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/custom-view/bootstrap-table-custom-view.js"></script>
    <script>
        function customViewFormatter(data) {
            const template = $('#profileTemplate').html();
            let view = '';

            $.each(data, function (i, row) {
                const image = row.image === "" ? '{% static "assets/img/default-image.jpg" %}' : row.image
                const complaintLink = row.complaint_id.match(/href="([^"]*)/)[1]
            const complaintId = complaintLink.split('/').pop()
            view += template.replace('%NAME%', row.complainant_name)
                .replace('%IMAGE%', image)
                .replace('%COMPLAINT_ID%', complaintId)
                .replace('%COMPLAINT_LINK%', complaintLink)
                .replace('%EMAIL%', row.email)
                .replace('%COMMENT%', row.comment)
                .replace('%STATUS%', row.status)
                .replaceAll('%BG%', row.status === 'Resolved' ? 'bg-success' : row.status === 'Handed to Police' ? 'bg-gray-500' : 'bg-secondary')
                .replace('%TYPE%', row.complaint_type)
                .replace('%PHONE_NUMBER%', row.contact_number)
                .replace('%ADDRESS%', row.address);
        })

        return `<div class="row mx-0">${view}</div>`
        }
    </script>
    <script>
        const $table = $('#table');
        const $remove = $('#remove');
        let selections = [];
        const complaintModal = new bootstrap.Modal(document.getElementById('complaint-modal'));

        function getIdSelections() {
            return $.map($table.bootstrapTable('getSelections'), (row) => row.id);
        }

        /* eslint no-unused-vars:0 */
        function responseHandler(res) {
            $.each(res.rows, (i, row) => {
                /* eslint no-param-reassign:0 */
                row.state = $.inArray(row.id, selections) !== -1;
            });
            return res;
        }

        function detailFormatter(index, row) {
            const html = [];
            $.each(row, (key, value) => {
                if (!key.startsWith("_")) {
                    html.push(`<p><b>${key.replace("_", " ").toUpperCase()}:</b> ${value}</p>`);
                }
            });
            return html.join('');
        }

        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger me-2'
            },
            buttonsStyling: false
        })


        function removeRow(complaintId) {
            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/barangay-admin/complaint/delete',
                        type: 'POST',
                        dataType: 'json',
                        data: JSON.stringify({payload: {complaint_id: complaintId}}),
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                            'X-CSRFToken': getCookie('csrftoken'),
                        },
                    }).always((jqXHR, textStatus, errorThrown) => {
                        if (jqXHR.status === 200 || jqXHR.status === 304) {
                            swalWithBootstrapButtons.fire(
                                'Success!',
                                'complaints has been successfully deleted.',
                                'success',
                            ).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.reload();
                                }
                            })
                        } else {
                            swalWithBootstrapButtons.fire(
                                'Error!',
                                `Something went wrong.<br>${errorThrown}`,
                                'error',
                            );
                        }
                    });
                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire('Cancelled', 'complaint is safe :)', 'info');
                }
            });
        }

        function operateFormatter(value, row, index) {
            return [
                '<a class="remove" href="javascript:void(0)" title="Remove">',
                '<i class="fas fa-trash"></i>',
                '</a>',
            ].join('');
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i += 1) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (`${name}=`)) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        window.operateEvents = {
            /* eslint func-names:0 */
            'click .remove': function (e, value, row, index) {
                const complaintId = row.complaint_id.match(/href="([^"]*)/)[1].split("/").pop()
        $table.bootstrapTable('remove', {
            field: 'complaint_id',
            values: [row.complaint_id],
        })
        $.ajax({
            url: '/barangay-admin/complaint/delete',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify({payload: {complaint_id: complaintId}}),
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': getCookie('csrftoken'),
            },
        })
        },
        };

        function totalTextFormatter(data) {
            return 'Total';
        }

        function totalNameFormatter(data) {
            return data.length;
        }

        $(document).ready(() => {
            $('.bootstrap-table')
                .addClass('bootstrap5')
                .removeClass('bootstrap4');
            {% if contact_form.errors %}
                complaintModal.show()
            {% endif %}
        });

        function createdFormatter(value) {
            return moment(value).format('dddd, MMMM Do YYYY, h:mm A');
        }

        /* eslint no-unused-vars:0 */
        function dateFormatter(value) {
            /* eslint no-undef:0 */
            return moment(value, 'YYYY-MM-DD').format('dddd, MMMM Do YYYY');
        }
    </script>
    <script>
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    Swal.fire({
                        title: "Success!",
                        icon: "success",
                        text: '{{ message }}',
                    })
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    Swal.fire({
                        title: "Error!",
                        icon: "error",
                        text: "{{ message }}",
                    })
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    Swal.fire({
                        title: "Attention!",
                        icon: "info",
                        text: "{{ message }}",
                    })
                {% endif %}
            {% endfor %}
        {% endif %}
    </script>
{% endblock scripts %}
