{% extends "layouts/base.html" %}
{% block title %} OCR Index {% endblock %}
{% load static %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link href="{% static "ocr/css/file-card.css" %}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <div id="main-content" class="file_manager">
        <div class="container">
            <div class="row clearfix">
                {% for file in files %}
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="card">
                            <div class="file">
                                <a href="{% url "ocr:scan_result" filename=file.name %}">
                                    <div class="hover">
                                        <button
                                            type="button"
                                            class="btn btn-icon btn-primary"
                                            data-bs-toggle="tooltip"
                                            data-bs-placement="top"
                                            title="Scan"
                                        >
                                            <i class="fas fa-qrcode" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-file-pdf"></i>
                                    </div>
                                    <div class="file-name">
                                        <p class="m-b-5 text-muted">{{ file.name }}</p>
                                        <small>{{ file.size }}
                                            <span class="date text-muted">{{ file.last_modified }}</span>
                                        </small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script>
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    Swal.fire({
                        icon: "success",
                        title: "{{ message }}",
                        showConfirmButton: false,
                        timer: 1500
                    })
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    Swal.fire({
                        icon: "error",
                        title: "{{ message }}",
                        showConfirmButton: false,
                        timer: 1500
                    })
                {% endif %}
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}
