{% extends "layouts/base.html" %}
{% block title %} RBI Table {% endblock %}
{% load static %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link href="{% static "/assets/vendor/bootstrap-table/dist/bootstrap-table.min.css" %}" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="{% static "/assets/vendor/bootstrap-table/dist/bootstrap-table.min.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="{% static "/assets/vendor/fontawesome/css/fontawesome.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "/assets/vendor/fontawesome/css/brands.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "/assets/vendor/fontawesome/css/solid.css" %}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}
{% block content %}
    <div class="d-flex justify-content-between w-100 flex-wrap pt-4">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">Generate Dummy RBI</h1>
            <p class="mb-0">Generate a list of dummy RBI.</p>
        </div>
        <div>
            <a href="#" class="btn btn-outline-gray">
                <i class="fas fa-question-circle me-1"></i>Filter
            </a>
        </div>
    </div>
    <div class="py-4 d-flex text-center justify-content-center">
        <form action="{% url "dummy_rbi" %}" method="POST" id="dummyForm" class="form-group w-25">
            {% csrf_token %}
            <label for="numRBI">How many RBI to Generate?</label>
            <div class="input-group">
                <button type="submit" form="dummyForm" class="btn btn-primary input-group-text">
                    <i class="fas fa-paper-plane" aria-hidden="true"></i>
                </button>
                <input type="number" class="form-control" name="dummyCount" id="numRBI">
            </div>
        </form>
    </div>

    <div class="card border-0 shadow mb-4 position-relative">
        <div class="card-body">
            <div class="table-responsive overflow-hidden">
                <table
                    id="table"
                    data-pagination="true"
                    data-toggle="table"
                    data-search="true"
                    data-show-columns="true"
                    data-page-list="[10, 25, 50, 100, all]"
                >
                    <thead class="table-dark">
                        <tr>
                            <th data-field="house_num">HOUSE #</th>
                            <th data-field="created_at" data-formatter="createdFormatter" class="border-0">CREATED AT</th>
                            <th data-field="address" class="border-0">ADDRESS</th>
                            <th data-field="date_accomplished" data-formatter="dateFormatter" class="border-0">DATE</th>
                            <th data-field="last_name" class="border-0">LAST NAME (APELYIDO)</th>
                            <th data-field="first_name" class="border-0">FIRST NAME (PANGALAN)</th>
                            <th data-field="middle_name" class="border-0">MIDDLE NAME</th>
                            <th data-field="ext" class="border-0">EXT</th>
                            <th data-field="birth_place" class="border-0">PLACE OF BIRTH</th>
                            <th data-field="birth_date" class="border-0">DATE OF BIRTH</th>
                            <th data-field="sex" class="border-0">SEX</th>
                            <th data-field="civil_status" class="border-0">CIVIL STATUS</th>
                            <th data-field="citizenship" class="border-0">CITIZENSHIP</th>
                            <th data-field="monthly_income" class="border-0">MONTHLY INCOME</th>
                            <th data-field="remarks" class="border-0">REMARKS</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in generated_dummy %}
                            <tr>
                                <td class="fw-bold d-flex align-items-center">{{ member.house_num }}</td>
                                <td>{{ member.created_at }}</td>
                                <td>{{ member.address }}</td>
                                <td>{{ member.date_accomplished }}</td>
                                <td>{{ member.last_name }}</td>
                                <td>{{ member.first_name }}</td>
                                <td>{{ member.middle_name }}</td>
                                <td>{{ member.ext }}</td>
                                <td>{{ member.birth_place }}</td>
                                <td>{{ member.birth_date }}</td>
                                <td>{{ member.sex }}</td>
                                <td>{{ member.civil_status }}</td>
                                <td>{{ member.citizenship }}</td>
                                <td>{{ member.monthly_income }}</td>
                                <td>{{ member.remarks }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{% static "ocr/js/rbi_dummy_table.js" %}"></script>
{% endblock %}
