<a href="{% url "appointment:process" document_id %}">Back</a>
<h1>Issue Barangay Certificate</h1>

{{ user_data }}
<br/>
<br/>
{{ document_settings }}
<br/>
<br/>
{{ session_data }}
<br/>
<br/>

<form action="{% url "appointment:create_document" document_id document_name %}" method="POST">
    {% csrf_token %}

    <!-- Current Date -->
    <div>
        <label for="date">Date: </label>
        <input type="date" id="date" name="date" value="{{ session_data.date }}" required>
    </div>

    <!-- Firstname -->
    <div>
        <label for="firstname">First Name: </label>
        <input type="text" id="firstname" name="firstname" value="{{ session_data.firstname }}" required>
    </div>

    <!-- Middle name -->
    <div>
        <label for="middlename">Middle Name: </label>
        <input type="text" id="middlename" name="middlename" value="{{ session_data.middlename }}" required>
    </div>

    <!-- Lastname -->
    <div>
        <label for="lastname">Last Name: </label>
        <input type="text" id="lastname" name="lastname" value="{{ session_data.lastname }}" required>
    </div>

    <!-- Address -->
    <div>
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" value="{{ session_data.address }}" required>
    </div>

    <!-- Year -->
    <div>
        <label for="year">Year: </label>
        <input type="text" id="year" name="year" value="{{ session_data.year }}" required>
    </div>

    <!-- Issued for -->
    <div>
        <label for="issued">Issued for: </label>
        <input type="text" id="issued" name="issued" value="{{ session_data.issued }}" required>
    </div>

    <!-- Conforme -->
    <div>
        <label for="conforme">Conforme: </label>
        <input type="text" id="conforme" name="conforme" value="{{ session_data.conforme }}" required>
    </div>

    <!-- CTC No -->
    <div>
        <label for="ctc_no">CTC No.: </label>
        <input type="text" id="ctc_no" name="ctc_no" value="{{ session_data.ctc }}" required>
    </div>

    <!-- Region -->
    <div>
        <label for="region">Region: </label>
        <input type="text" id="region" name="region" value="{{ session_data.region }}" required>
    </div>

    <!-- OR No -->
    <div>
        <label for="or_no">OR No.: </label>
        <input type="text" id="or_no" name="or_no" value="{{ session_data.orno }}" required>
    </div>

    <!-- Amount -->
    <div>
        <label for="amount">Amount: </label>
        <input type="text" id="amount" name="amount" value="{{ session_data.amount }}" required>
    </div>

    <!-- Valid until -->
    <div>
        <label for="validity">Valid Until: </label>
        <input type="date" id="validity" name="validity" value="{{ session_data.valid }}" required>
    </div>

    <!-- Prepared by -->
    <div>
        <label for="prepared_by">Prepared by: </label>
        <input type="text" id="prepared_by" name="prepared_by" value="{{ session_data.prepared }}" required>
    </div>

    <input type="submit" name="submit" value="Generate">
</form>
