<!DOCTYPE html>

{% extends "layouts/base.html" %}

{% block title %}
    Barangay Admin - Services
{% endblock %}

{% block content %}
    <h1>Services</h1>

    <ul>
        <li>
            <a href="{% url "appointment:view-appointment" current_date %}">Appointment</a>
            <ul>
                <li>Active Appointments: {{ active_appointments }}</li>
            </ul>
        </li>
        {#        <li><a href="{% url "complaint:index" %}">Complaints</a></li>#}
        {#        <li><a href="{% url "bulksched:index" %}">Bulk Schedule</a></li>#}
    </ul>
{% endblock %}
